{
  "overrides": [
    {
      "files": ["*.js", "parserOptions"],
      "env": {
        "es6": true
      }
    },
    {
      "files": ["*.ts"],
      "rules": {},
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "plugins": ["@typescript-eslint"],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ]
    }
  ]
}
